
$text-color: #495057;

body {
    color: $text-color;
    font-family: 'Sarabun', sans-serif;
    font-size: 20px;
}

a,
a:visited {
    color: #175F9E;
    text-decoration: none;
}

.social {
    text-align: center;
    width: 100%;

    span {
        font-size: 0.25rem;
        margin: 0 1rem;
        vertical-align: middle;
    }
}

.content {
    box-sizing: border-box;
    margin: 2rem;
    position: relative;
}

.title {
    font-size: 5rem;
    font-weight: bolder;
    line-height: 1;
}

.subtitle {
    font-size: 5rem;
    line-height: 1;
    margin-bottom: 2rem;
}

.l {
    color: lighten($text-color, 15%);
}

.ll {
    color: lighten($text-color, 30%);
}

.lll {
    color: lighten($text-color, 45%);
}

.nav-fill {
    background: $text-color;
    height: 100%;
    left: 0;
    position: absolute;
    pointer-events: none;
    top: 0;
    transition: all 1s ease;
    width: 0;
    z-index: -1;
}

nav {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 2rem;

    a {
        &,
        &:visited {
            color: $text-color;
            display: block;
            padding: 1rem;
            position: relative;
            text-decoration: none;

            span {
                color: white;
                display: inline-block;
                font-size: 1rem;
                font-weight: bolder;
                margin-left: 1rem;
                opacity: 0;
                transition: all 0s ease 0s;
                transform: translateY(0.5rem);
                vertical-align: middle;
            }
        }

        &:hover {
            color: white;

            span {
                opacity: 1;
                transform: translateY(0);
                transition: all 0.8s cubic-bezier(0, 0.3, 0, 0.99) 0.3s;
            }

            .nav-fill {
                width: 100%;
            }
        }

        &.k {
            border-left: 2px solid $text-color;

            &:hover .nav-fill {
                width: 100%;
            }
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

$desktop-photo-size: 20rem;
$mobile-photo-size: 17.5rem;

.profile {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    @media only screen and (min-width: 768px) {
        flex-direction: row;
    }

    &__photo {
        //border-radius: 0.25rem;
        //box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: center;
        margin-bottom: 2rem;
        overflow: hidden;

        @media only screen and (min-width: 768px) {
            flex-basis: $desktop-photo-size;
            margin-bottom: unset;
        }

        img {
            border-radius: 50%;
            height: 100%;
            max-width: $mobile-photo-size;
            width: 100%;

            @media only screen and (min-width: 768px) {
                height: $desktop-photo-size;
                max-width: unset;
            }
        }
    }

    &__text {
        font-size: 1.5rem;

        @media only screen and (min-width: 768px) {
            margin-left: 2rem;
        }

        h2 {
            font-weight: lighter;
        }

        :first-child {
            margin-top: 0;
        }
    }
}

.projects {
    margin-bottom: 2rem;
}

.project-card {
    background-size: cover;
    color: #fff;
    font-size: 1.5rem;
    padding: 1.5rem;
    position: relative;
    z-index: 1;

    &::before {
        background: rgba(0, 0, 0, 0.6);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    &::after {
        background: rgba(255, 255, 255, 0.3);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -2;
    }

    &__title {
        border-bottom: 4px solid #fff;
        font-size: 2.5rem;
        font-weight: bolder;
        margin-bottom: 4rem;
        padding-bottom: 1rem;
        width: fit-content;
        z-index: 1;
    }

    &__subtitle {
        margin-bottom: 1rem;
    }

    &__date {
        font-size: 0.75rem;
    }
}
